/* 검색 폰트 */
@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.search_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
}

/* ---------- search section ---------- */
.search_box {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
}

.input_container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search_icon {
    margin-left: 5px;
    margin-right: 5px;
}

/* ---------- 입력창 ---------- */
.input_search {
    width: 100%;
    padding: 10px;
    border: none;
}
.input_search:focus {
    outline: none;
}

/* ---------- 검색 버튼 ---------- */
.button_search {
    font-family: 'MBC1961GulimM';
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}
